body {
    font-family: 'Inter', sans-serif;
}

.glass {
    background: rgba(255, 255, 255, .92);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px rgba(0,0,0,.08);
    padding: 30px 20px;
}

.card-hover {
    transition: all .35s cubic-bezier(0.4,0,0.2,1);
}

    .card-hover:hover {
        transform: translateY(-3px);
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25)
    }

.space-y-6 {
    height: 300px;
    overflow: auto;
    padding: 0 3px 0 0;
}
