:root {
    --title: "Click Crazy Fireworks";
    --author: "Matt Cannon";
    --contact: "mc@mattcannon.design";
    --description: "Random fireworks over a blank void, as is life. Click like crazy to see the finale!";
    --keywords: "codepenchallenge, cpc-celebration, fireworks, animation, canvas, JavaScript, visual effects, celebration, night sky, particles, interactive, generative art, dynamic display, colorful explosions, seamless animations";
    --last-modified: "2024-12-16";
    --content-language: "en";
    --generator: "HTML5, CSS3, JavaScript";
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*z-index: -1;*/
}

canvas.fireworks-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* ensures background */
    pointer-events: none; /* clicks pass through to content */
}

canvas {
    display: block;
}
